@model List<Cat_Categorias_Platillos>

<h2>Categorías</h2>

@foreach (var categoria in Model)
{
    using (Html.BeginForm("CatPlatillosCrud", "CatPlatillos", FormMethod.Post))
    {
        @Html.Hidden("id", categoria.ID)
        @Html.Hidden("nombre", categoria.nombre)
        <button type="submit" class="btn btn-primary m-1">
            @categoria.nombre
        </button>
    }
}