@{
    <!-- CSS -->
    <link rel="stylesheet" href="../css/Acceso.css">
}
@model Usuario
<body>

    <div class="container-fluid FondoLogin align-content-center">
        <div class="container d-flex justify-content-center align-items-center vh-100">
            <form asp-controller = "Acceso" asp-action = "Index" method="post" class="form">
                <p class="form-title">Inicio de sesión</p>

                <p class="">¿Eres parte de nosotros? Inicia sesión aqui</p>

                <div class="input-container">
                    <input type="email" placeholder="Ingresa tu correo electrónico..." asp-for="correo">
                    <span>
                    </span>
                </div>
                <div class="input-container">
                    <input type="password" placeholder="Ingresa tu contraseña..." asp-for="clave">
                </div>
                <button  type="submit" class="submit">
                    Ingresar
                </button>
            </form>
        </div>
    </div>



    @section Scripts {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var mostrarModal = '@ViewBag.MostrarModal';
                if (mostrarModal === 'True') {
                    var modal = new bootstrap.Modal(document.getElementById('modalError'));
                    modal.show();
                }
            });
        </script>
    }

</body>

<!-- Modal -->
<div class="modal fade" id="modalError" tabindex="-1" aria-labelledby="modalErrorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="modalErrorLabel">Error de inicio de sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                Usuario o clave incorrectos. Por favor, intenta de nuevo.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>